@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <div class="buttons">
        <p>Hello, @User.Identity.GetUserName()!</p>
        <a href="javascript:document.getElementById('logoutForm').submit()" class="button is-danger" style="margin-left: 15px; margin-right: 15px;">Log off</a>
    </div>
    }
}
else
{
    <div class="buttons">
        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "button is-primary" })
        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "button is-light" })
    </div>
}
