@{
    ViewBag.Title = "Home Page";
}

<div class="hero-body">
    <div class="container has-text-centered">
        <div class="columns is-vcentered">
            <div class="column is-5">
                <figure class="image is-4by3">
                    <img src="https://melbournechapter.net/images/supreme-clipart-black-and-white-2.png" alt="Description">
                </figure>
            </div>
            <div class="column is-6 is-offset-1">
                <h1 class="title is-2">
                    Crapo Deeds Law
                </h1>
                <h2 class="subtitle is-4">
                    We are committed to our clients. If you need professional law advice please contact us by following the link below.
                </h2>
                <br>
                <p class="has-text-centered">
                    <a href="/Clients/Create" class="button is-medium is-info is-outlined">
                        Request Info
                    </a>
                </p>
            </div>
        </div>
    </div>
